.muscle-groups svg {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
    height: 450px;
    z-index: 100;
}

#obliques-checkbox:checked ~ svg #obliques-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#abs-checkbox:checked ~ svg #abs-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#quads-checkbox:checked ~ svg #quads-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#biceps-checkbox:checked ~ svg #biceps-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#adductors-checkbox:checked ~ svg #adductors-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#pectorals-checkbox:checked ~ svg #pectorals-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#deltoids-checkbox:checked ~ svg #deltoids-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#hamstrings-checkbox:checked ~ svg #hamstrings-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#quads-checkbox:checked ~ svg #quads-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#forearms-checkbox:checked ~ svg #forearms-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#calves-checkbox:checked ~ svg #calves-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#triceps-checkbox:checked ~ svg #triceps-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#glutes-checkbox:checked ~ svg #glutes-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#lats-checkbox:checked ~ svg #lats-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
#trapezius-checkbox:checked ~ svg #trapezius-svg path {
    opacity: 0.8;
    fill: #00bcd4 !important;
}
